<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication System </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar scroll</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
              
                {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link " href="{% url 'add_post' %}">Add Post </a>
              </li>
              
              {% endif %}
               
               
            </ul>
            <div class="d-flex" role="search">
               
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">


              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link btn btn-warning mx-3" href="{% url 'profile' %}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-danger mx-3" href="{% url 'user_logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link btn btn-warning mx-3" href="{% url 'register' %}">Register</a>
              </li>
  
           
            <li class="nav-item">
              <a class="nav-link btn btn-primary" href="{% url 'user_login' %}">Login</a>
            </li>
              {% endif %}

            </ul>
           
              
            </div>
          </div>
        </div>
      </nav>



    {% block content %}



    {% endblock %}


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</body>
</html>